<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Medical System</title>
    <link rel="stylesheet" href="/styles.css" />
     <link rel="stylesheet" href="/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/patients">Patients</a></li>
      <li><a href="/doctors">Doctors</a></li>
      <li><a href="/medicines">Medicines</a></li>
      <li><a href="/appointments">Appointments</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/patients/add"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/patients/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<h1 style="text-align:center">Appointments List</h1>
   
     <div class="container">
     
    <table border="1" class="table table-bordered">
    <thead>
      <tr>
            <th>Patient</th>
            <th>Medicines</th>
            <th>Appointment Time</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.patient.fname}"></td>
            <td>
                <ul>
                    <li th:each="medicine : ${appointment.medicines}" th:text="${medicine.name}"></li>
                </ul>
            </td>
            <td th:text="${appointment.appointmentTime}"></td>
            <td>
                <a th:href="@{/appointments/edit/{id}(id=${appointment.id})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</body>
</html>