<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Medical System</title>
    <link rel="stylesheet" href="/styles.css" />
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/patients">Patients</a></li>
      <li><a href="/doctors">Doctors</a></li>
      <li><a href="/medicines">Medicines</a></li>
      <li><a href="/appointments">Appointments</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/patients/add"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/patients/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
</nav>

<h1 style="text-align:center">Edit Patient</h1>


<div class="container">
      <div class="card-deck">
    <div class="card p-3" style="background-color:rgb(216, 217, 213);">
      <div class="card-body text-center">    
    <form th:action="@{/patients/edit}" th:object="${patient}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="row">
    <div class="col-md-6">
      <label >First Name</label>
      <input type="text" class="form-control" th:field="*{fname}"  placeholder="First Name" >
    </div>
    <div class="col-md-6">
      <label >Last Name</label>
      <input type="text" class="form-control" th:field="*{lname}"  placeholder="Last Name" >
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Email</label>
      <input type="email" class="form-control" th:field="*{email}" placeholder="Email">
    </div>
    <div class="col-md-6">
      <label >Gender</label>
      <input type="text" class="form-control" th:field="*{gender}"  placeholder="Gender">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Mobile Number</label>
      <input type="text" class="form-control" th:field="*{number}"  placeholder="Number">
    </div>
    <div class="col-md-6">
      <label>DoB</label>
      <input type="date" class="form-control" th:field="*{dob}"  placeholder="DOB">
    </div>
  </div>
  <div class="row">
  <div class="col-md-6">
    <label >Age</label>
    <input type="text" class="form-control" th:field="*{age}" placeholder="Age">
  </div>
  <div class="col-md-6">
    <label>ZipCode</label>
    <input type="text" class="form-control" th:field="*{zipcode}" placeholder="Zipcode">
  </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>City</label>
      <input type="text" class="form-control" th:field="*{city}" placeholder="city">
    </div>
    <div class="col-md-6">
      <label>State</label>
      <input type="text" class="form-control" th:field="*{state}" placeholder="state">
    </div>
  </div><br>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
    </div>
    </div>
    </div>
    </div>
</body>
</html>